## User settings
xcuserdata/

.DS_Store
*.icloud

# Ignores Stitch packages for local testing
StitchSchemaKit/

# Settings for package which discovers unused files
.periphery.yml

# Ignores env files for api keys / secrets
.env

# Track secrets.json file but ignore its changes
secrets.json

.sentryclirc